[package]
name = "{{ project-name }}"
version = "0.1.0"
authors = ["{{ authors }}"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
{{ mcu }}-hal = "{{ hal_version }}"
esp-backtrace = { version = "0.10.0", features = ["{{ mcu }}", "panic-handler", "exception-handler", "print-uart"] }
{% if logging -%}
esp-println = { version = "0.8.0", features = ["{{ mcu }}", "log"] }
log = { version = "0.4.20" }
{% else -%}
esp-println = { version = "0.8.0", features = ["{{ mcu }}"] }
{% endif -%}
{% if alloc -%}
esp-alloc = { version = "0.3.0" }
{% endif -%}
{% if wifi -%}
esp-wifi  = { version = "0.2.0", features = ["{{ mcu }}", "wifi"] }
smoltcp = { version = "0.11.0", default-features=false, features = ["proto-igmp", "proto-ipv4", "socket-tcp", "socket-icmp", "socket-udp", "medium-ethernet", "proto-dhcpv4", "socket-raw", "socket-dhcpv4"] }
embedded-svc = { version = "0.26.4", default-features = false, features = [] }
embedded-io = "0.6.1"
heapless = { version = "0.8.0", default-features = false }
{% endif -%}

{% if mcu == "esp32" or mcu == "esp32c2" %}
[features]
default = ["{{ mcu }}-hal/xtal-40mhz"]
{% endif %}
