{% assign is_xtensa = false -%}
{% assign is_riscv = false -%}
{% if mcu == "esp32" or mcu == "esp32s2" or mcu == "esp32s3" -%}
{% assign is_xtensa = true -%}
{% else -%}
{% assign is_riscv = true -%}
{% endif -%}
[package]
name = "{{ crate_name }}"
version = "0.1.0"
authors = ["{{ authors }}"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
{% if mcu == "esp32" -%}
{{ mcu }}-hal = "0.7.0"
{% else -%}
{{ mcu }}-hal = "0.4.0"
{% endif -%}
{% if alloc -%}
esp-alloc = { version = "0.1.0", features = ["oom-handler"] }
{% endif -%}
esp-backtrace = { version = "0.4.0", features = ["{{ mcu }}", "panic-handler", "print-uart"] }
{% if is_riscv -%}
riscv-rt = { version = "0.10", optional = true }
{%- else -%}
{% if mcu == "esp32s2" -%}
xtensa-atomic-emulation-trap = "0.3.0"
{% endif -%}
xtensa-lx-rt = { version = "0.14.0", features = ["{{ mcu }}"], optional = true }
{%- endif %}

[features]
default = ["rt"]
{% if is_riscv -%}
rt = ["riscv-rt"]
{%- else -%}
rt = ["xtensa-lx-rt"]
{%- endif %}
