[package]
name = "{{ crate_name }}"
version = "0.1.0"
authors = ["{{ authors }}"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
{% if mcu == "esp32" -%}
{{ mcu }}-hal = "0.6.0"
{% else -%}
{{ mcu }}-hal = "0.3.0"
{%- endif %}
{% if alloc -%}
esp-alloc = { version = "0.1.0", features = ["oom-handler"] }
{%- endif %}
esp-backtrace = { version = "0.3.0", features = ["{{ mcu }}", "panic-handler", "print-uart"] }
{% if mcu == "esp32c3" -%}
riscv-rt = { version = "0.9", optional = true }
{%- else -%}
{% if mcu == "esp32s2" -%}
xtensa-atomic-emulation-trap = "0.2.0"
{%- endif %}
xtensa-lx-rt = { version = "0.13.0", features = ["{{ mcu }}"], optional = true }
{%- endif %}

[features]
default = ["rt"]
{% if mcu == "esp32c3" -%}
rt = ["riscv-rt"]
{%- else -%}
rt = ["xtensa-lx-rt"]
{%- endif %}
