[template]
cargo_generate_version = ">=0.14.0"
ignore = [".git", ".github", "README.md"]

[hooks]
pre = ["pre-script.rhai"]
post = ["post-script.rhai"]

[placeholders.mcu]
type = "string"
prompt = "Which MCU to target?"
choices = ["esp32", "esp32c2", "esp32c3", "esp32c6", "esp32s2", "esp32s3"]
default = "esp32"

[placeholders.alloc]
type = "bool"
prompt = "Enable allocations via the esp-alloc crate?"
default = false

[placeholders.devcontainer]
type = "bool"
prompt = "Configure project to use Dev Containers (VS Code and GitHub Codespaces)?"
default = false

[placeholders.wokwi]
type = "bool"
prompt = "Configure project to support Wokwi simulation with Wokwi VS Code extension?"
default = false

[conditional.'devcontainer == false']
ignore = [
    ".devcontainer/",
    ".vscode/tasks.json",
    "docs/",
    "scripts/",
    ".dockerignore",
]

[conditional.'wokwi == false']
ignore = [".vscode/launch.json", "diagram.json", "wokwi.toml"]
