[package]
name = "{{ crate_name }}"
version = "0.1.0"
authors = ["{{ authors }}"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
hal = { package = "{{ mcu }}-hal", version = "{{ hal_version }}" }
esp-backtrace = { version = "0.8.0", features = ["{{ mcu }}", "panic-handler", "exception-handler", "print-uart"] }
{% if logging -%}
esp-println = { version = "0.6.0", features = ["{{ mcu }}","log"] }
log = { version = "0.4.18" }
{% else -%}
esp-println = { version = "0.6.0", features = ["{{ mcu }}"] }
{% endif -%}
{% if alloc -%}
esp-alloc = { version = "0.3.0" }
{% endif -%}
{% if wifi -%}
esp-wifi        = { git = "https://github.com/esp-rs/esp-wifi/", rev = "fbb8417", features = ["{{ mcu }}", "wifi-logs", "wifi"] }
smoltcp = { version = "0.10.0", default-features=false, features = ["proto-igmp", "proto-ipv4", "socket-tcp", "socket-icmp", "socket-udp", "medium-ethernet", "proto-dhcpv4", "socket-raw", "socket-dhcpv4"] }
embedded-svc = { version = "0.25.0", default-features = false, features = [] }
embedded-io = "0.4.0"
heapless = { version = "0.7.14", default-features = false }
{% endif -%}
