[template]
cargo_generate_version = ">=0.17.4"
ignore = [".git", ".github/dependabot.yml", ".github/workflows/ci_docker.yml", ".github/workflows/ci.yml", ".github/workflows/issue_handler.yml", "README.md"]

[hooks]
pre = ["pre-script.rhai"]

[placeholders.mcu]
type = "string"
prompt = "Which MCU to target?"
choices = ["esp32", "esp32c2", "esp32c3", "esp32c6", "esp32h2", "esp32s2", "esp32s3"]
default = "esp32"

[placeholders.advanced]
type = "bool"
prompt = "Configure advanced template options?"
default = false

[conditional.'advanced'.placeholders.alloc]
type = "bool"
prompt = "Enable allocations via the esp-alloc crate?"
default = false

[conditional.'advanced'.placeholders.devcontainer]
type = "bool"
prompt = "Configure project to use Dev Containers (VS Code and GitHub Codespaces)?"
default = false

[conditional.'advanced'.placeholders.wokwi]
type = "bool"
prompt = "Configure project to support Wokwi simulation with Wokwi VS Code extension?"
default = false

[conditional.'advanced'.placeholders.ci]
type = "bool"
prompt = "Add CI files for GitHub Action?"
default = false

[conditional.'advanced'.placeholders.logging]
type = "bool"
prompt = "Setup logging using the log crate?"
default = false

[conditional.'!devcontainer']
ignore = [
    ".devcontainer/",
    ".vscode/tasks.json",
    "docs/",
    "scripts/",
    ".dockerignore",
]

[conditional.'!ci']
ignore = [".github"]

[conditional.'!wokwi']
ignore = [".vscode/launch.json", "diagram.json", "wokwi.toml"]

[conditional.'!advanced']
ignore = [
    ".devcontainer/",
    ".vscode/",
    "docs/",
    "scripts/",
    ".dockerignore",
    "diagram.json",
    "wokwi.toml",
]
