[template]
cargo_generate_version = ">=0.10.0"
ignore = [".git", ".github", "README.md"]

[hooks]
pre = ["pre-script.rhai"]
post = ["post-script.rhai"]

[placeholders.mcu]
type = "string"
prompt = "Which MCU to target?"
choices = ["esp32", "esp32c2", "esp32c3", "esp32c6", "esp32s2", "esp32s3"]
default = "esp32"

[placeholders.alloc]
type = "bool"
prompt = "Enable allocations via the esp-alloc crate?"
default = false

[placeholders.devcontainer]
type = "bool"
prompt = "Configure project to use Dev Containers (VS Code, GitHub Codespaces and Gitpod)?"
default = false

[conditional.'devcontainer == false']
ignore = [
    ".devcontainer/",
    ".vscode/launch.json",
    ".vscode/tasks.json",
    "docs/",
    "scripts/",
    ".dockerignore",
    ".gitpod.Dockerfile",
    ".gitpod.yml",
]
