[target.{{ rust_target }}]
runner = "espflash flash --monitor"


{% if logging -%}
[env]
ESP_LOGLEVEL="INFO"
{% endif -%}

[build]
rustflags = [
  "-C", "link-arg=-Tlinkall.x",
{% if wifi -%}
  "-C", "link-arg=-Trom_functions.x",
{% endif -%}
{%- if arch == "xtensa" %}
  "-C", "link-arg=-nostartfiles",
{% else %}
  # Required to obtain backtraces (e.g. when using the "esp-backtrace" crate.)
  # NOTE: May negatively impact performance of produced code
  "-C", "force-frame-pointers",
{% endif -%}
]

target = "{{ rust_target }}"

[unstable]
{% if alloc -%}
build-std = ["alloc", "core"]
{%- else -%}
build-std = ["core"]
{%- endif %}
